#guest-home{

background-color: $green_3;
background: linear-gradient(0deg, $green_3 0%, $blue_3 50%, $green_3 100%);

.rocket-animation{
    position: absolute;
    height: 800px;
    width: 800px;
    animation: mymove 10s infinite;
}

@keyframes mymove {
    0%  {
            top: 205px;
            right: -250px;
        }
    50%  {
            top: 160px;
            right: -250px;
        }
    100%  {
            top: 205px;
            right: -250px;
        }
}

h1{
    font-weight: bold;
    color: white;
    font-size: 40px;
    line-height: 1;
}

h4{
    color: black;
    font-size: 20px;
    line-height: 1.4;
}

p{
    font-size: 15px;
}

.iscriviti-ora{
    text-transform: uppercase;
    width: 200px;
    height: 70px;
    border-radius: 35px;
    font-size: 23px;
    font-weight: bold;
    border: 4px solid white;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        text-decoration: none;
    }
}

.step-cont{
    display: flex;
    justify-content: flex-start;
    .step{
        .step-circle{
            height: 80px;
            width: 80px;
            border-radius: 50%;
            border: 6px solid white;
            margin: 0 auto;
            transition: 0.5s;
            &:hover{
                background-color: white;
            }
        }
        .step-line{
            height: 40px;
            width: 6px;
            background-color: white;
            margin: 0 auto;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .step-text{
        padding-left: 25px;
        padding-top: 7px;
        h5{
            font-weight: bold;
            color: white;
        }
        p{
            color: white;
        }
    }
    &:last-child{
        .step{
            .step-line{
                display: none;
            }
        }
    }
}

.roadmap-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:last-child{
        .roadmap-img{
            .roadmap-line{
                display: none;
            }
        }
    }
    .roadmap-img{
        position: relative;
        img{
            width: 120px;
            height: 200px;
            object-fit: contain;
            z-index: 2;
            object-position: -11px 0px;
        }
        // .roadmap-line{
        //     position: absolute;
        //     height: 100px;
        //     width: 10px;
        //     background-color: rgba(255, 255, 255, .5);
        //     top: 180px;
        //     left: 50%;
        //     transform: translateX(-50%);
        // }
    }
    .roadmap-text{
        padding-left: 20px;
        overflow-x: hidden;
        .title-cont{
            h5{
                font-weight: bold;
            }
            span{
                display: inline-block;
                width: 100px;
                height: 2px;
                margin-left: 20px;
            }
        }
        p{
            max-width: 385px;
            padding-top: 10px;
            padding-left: 20px;
            color: white;
            font-weight: bold;
        }
    }
}

.screenshot{
    >div>div>div{
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // height: 600px;
    }
    .text-container{
        min-height: 250px;
        padding: 25px;
        h1{
            padding: 0px;
        }
    }
    .image-container{
        min-height: 250px;
        position: relative;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
        }
    }
}

.partner{
    .partner-cont{
        background-color: rgba(255,255,255,.5);
        .card-style-mini{
            display: flex;
            justify-content: center;
        }
        img{
            width: 100%;
            height: 100px;
            object-fit: contain;
            object-position: center;
            // filter: brightness(0) invert(1);
        }
    }
}

.reviews{
    .card-slider-review{
        .MultiCarousel {
            float: left;
            overflow: hidden;
            padding: 30px;
            width: 100%;
            position:relative;
        }
        .MultiCarousel .MultiCarousel-inner {
            transition: 1s ease all;
            float: left;
        }
        .MultiCarousel .MultiCarousel-inner .item {
            float: left;
            padding: 5px;
        }
        .MultiCarousel .MultiCarousel-inner .item .pad15{
            height: 500px;
            padding: 50px 20px;
            background: rgba(255,255,255,0.5);
            border-radius: 40px;
            margin:0px;
            .info-container{
                .image-container{
                    margin: 0 auto;
                    margin-bottom: 40px;
                    background-color: white;
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: contain;
                    }
                }
                .text-container{
                    .main-text{
                        height: 240px;
                    }
                    p{
                        text-align: center;
                        color: black;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
        .MultiCarousel .leftLst, .MultiCarousel .rightLst {
            width: 80px;
            height: 460px;
            position:absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            //background: red;
            background-color: transparent;
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
        .MultiCarousel .leftLst {
            left: 0px;
        }
        .MultiCarousel .rightLst {
            right: 0px;
        }
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
            display: none;
        }
    }
}

@media (min-width: 768px){

    h1{
        font-size: 65px;
    }

    h4{
        font-size: 35px;
    }

    h5{
        font-size: 25px;
    }

    p{
        font-size: 20px;
    }

    .roadmap-item{
        .roadmap-img{
            img{
                width: 200px;
            }
        }
        .roadmap-text{
            padding-left: 50px;
            .title-cont{
                span{
                    margin-left: 50px;
                }
            }
            p{
                padding-left: 50px;
            }
        }
    }
    .screenshot{
        .text-container{
            padding: 100px;
        }
    }

    .reviews{
        .card-slider-review{
            .MultiCarousel {
                padding: 50px 120px;
            }
            .MultiCarousel .MultiCarousel-inner .item {
                padding: 30px;
            }
            .MultiCarousel .MultiCarousel-inner .item .pad15{
                padding: 70px 50px;
                margin:10px;
            }
        }
    }
}

}
