// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$green_3: #17B8A1;
$green_2: #80DACD;
$green_1: #E5F7F5;

$blue_3: #2AACE7;
$blue_2: #8AD1F1;
$blue_1: #E7F6FC;

// $default_green: rgb(19,155,72);
$default_green: #0AB89F;
// $default_green_deactivate: rgba(19,155,72,0.7);
$default_green_deactivate: rgba(10,184,159,0.7);
$hover_gray: rgba(240,240,240,1);
$light_black: rgb(50, 50, 50);
$gray-blue: #e7eaf3;
