.nav-bar-space{
    height: 75px;
}
#nav-bar{
    padding: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    #container-nb{
        background-color: white;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
        border-radius: 30px;
        margin: 0 auto;
        height: 75px;
    }
    .nav-left,.nav-right{
        justify-content: space-between;
    }
    a{
        display: inline-block;
        padding: 5px 0;
        .logo{
            width: auto;
            max-height: 65px;
            object-fit: contain;
        }
        .mini-logo{
            width: 65px;
            height: 65px;
            object-fit: contain;
        }
    }
    .icon{
        transition: 0.2s;
        // border-radius: 50%;
        // background-color: gray;
        color: $light_black;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0px 20px;
        &:hover{
            text-decoration: none;
        }
        i{
            margin: 0 15px;
            font-size: 20px;
            span{
                display: inline-block;
                border-radius: 10px;
                background-color: $default_green;
                position: absolute;
                top: 5px;
                left: 90%;
                transform: translate(-50%,-50%);
                color: white;
                font-size: 15px;
                font-weight: bold;
                font-family: Arial;
                padding: 2px 5px;
            }
        }
    }
    .beta{
        position: absolute;
        top: 10px;
        right: -20px;
        font-size: 11px;
        color: black;
        font-weight: bold;
    }

    .account-menu{
        position: relative;
        padding: 0 15px;
        display: flex;
        align-items: center;
        a{
            color: black;
            .drop-menu{
                display: inline-block;
            }
            padding-right: 5px;
        }
        .dropdown-menu{
            position: absolute;
            top: 20px !important;
            box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
            border: none;
            a{
                padding: 5px 10px;
            }
        }
    }

    .notification{
        .show-notf-preview{
            position: absolute;
            width: 300px;
            left: 50%;
            z-index: 1;
            padding: 20px 5px;
            //transform: translateX(-20%) !important;
            top: 35px;
            background-color: white;
            border-radius: 20px;
            background-color: $light_black;
            // border: 1px solid $default_green;
            text-align: center;
            color:white;
            .notf{
                a{
                    border-radius: 5px;
                    background-color: white;
                    text-align: left;
                    display: inline-block;
                    width: 100%;
                    background-color: $default_green_deactivate;
                    text-decoration: none;
                    color: black;
                    margin-top: 3px;
                    padding: 10px;
                    &:hover{
                        background-color: $default_green;
                        color: white;
                    }
                }
            }
            .v-notf{
                padding: 5px 0;
                a{
                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }
}

.not-log-main-hg{
    min-height: calc(100vh - 90px);
}
main{
    padding-bottom: 20px;
    min-height: calc(100vh - 200px);
}

footer{
    // height: 90px;
    padding-top: 35px;
    background-color: $light_black;
    color: white;
    border-top-left-radius: 90px;
    .container{
        padding: 0 50px;
        >div>div{
            padding-bottom: 10px;
        }
        .social{
            a{
                margin-right: 15px;
                i{
                    font-size: 25px;
                    color: $green_3;
                }
                &:hover i{
                    color: white;
                }
            }

        }
        a{
            color: white;
            &:hover{
                color: $green_3;
                text-decoration: none;
            }
        }
    }
    .bottom-footer{
        border-top: 1px solid white;
        text-align: center;
        padding: 6px 0px;
    }

}

@media (min-width: 992px){
    #nav-bar{
        .nav-left{
            justify-content: flex-start;
        }
        .nav-right{
            justify-content: flex-end;
        }
    }
}
