#chat-show{
    .chat-section{
        height: calc(100vh - 200px);
    }
}

.chat-show{
    height: 100%;
    .messages-cont{
        background-color: $green_1;
        height: calc(100% - 50px);
        border-radius: 20px;
        margin-top: 10px;
        padding: 15px;
        overflow-y: auto;
        .message-item{
            padding-bottom: 5px;
            text-align: left;
            color: white;
            span{
                max-width: 80%;
                display: inline-block;
                background-color: $blue_3;
                border-radius: 10px;
                border-radius: 10px 10px 10px 0px;
                padding: 2px 7px;
                // word-break: break-all;
                small{
                    font-size: 7px;
                    display: block;
                    text-align: left;
                }
            }
        }
        .my-message-item{
            text-align: right;
            span{
                text-align: left;
                background-color: $green_3;
                border-radius: 10px 10px 0px 10px;
                small{
                    text-align: right;
                }
            }
        }
    }
    .messages-footer{
        height: 50px;
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        textarea{
            width: 100%;
            margin-right: 15px;
            height: 35px;
        }
        button{
            height: 100%;
        }
    }


}
.chat-show-longtext{
    .messages-cont{
        height: calc(100% - 90px) !important;
    }
    .messages-footer{
        height: 90px;
        textarea{
            height: 75px !important;
        }
    }
}
